html{
    scroll-behavior: smooth;
}
body{
   background: linear-gradient(45deg,teal,violet,teal) ;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Castellar,sans-serif;
    font-size: 40px;
}

h2{
    background: linear-gradient(45deg,orangered,black,orangered);
    color: white;
    padding: 25px;
    border-radius: 50% 50% 0 0;
    border-bottom: 5px solid whitesmoke;
    width: 800px;
    margin: auto;
    box-shadow: 0 0 10px black;
}
table{
    width: 100%;
}

img{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
    
}